/* App.css */
.nav-gap {
  gap: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-navbar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.nav-link {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #891cbb;
  transition: background-color 0.3s ease;
}

/* Optional: Customize the link color on hover */
.nav-link:hover {
  color: #891cbb;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  flex-grow: 1;
}

.card:hover {
  opacity: 0.8;
}

.detailcard:hover {
  opacity: 1;
}

@media (max-width: 992px) {

  /* Adjust the breakpoint as needed */
  .nav-gap {
    gap: 0;
    /* No gap between items */
  }

  .nav-link.active::after {
    display: none;
  }

}